* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.noSelect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}
.noSelect2 {
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	pointer-events: auto;
}

canvas {
    /* Older versions of FF          */
    image-rendering: optimizeSpeed;

    /* FF 6.0+                       */
    /* Firefox */
    image-rendering: -moz-crisp-edges;

    /* Safari                        */
    /* Webkit (non-standard naming) */
    image-rendering: -webkit-optimize-contrast;

    /* OS X & Windows Opera (12.02+) */
    /* Opera */
    image-rendering: -o-crisp-edges;

    /* Awesome future-browsers       */
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    /* IE                            */
    /* IE (non-standard property) */
    -ms-interpolation-mode: nearest-neighbor;
}

body {
    background-color: #101115;
    min-height: 1em;
    position: relative;
    text-align: center;
}

#titleBar {
    padding: 5px;
    position: relative;
}

#mainCenter {
    background-color: #1c253c;
    min-height: 445px;
    position: relative;
    text-align: center;
}

#bottomBar {
    min-height: 3em;
    padding: 5px;
}

#gameCanvas_DIV {
    width: 192px;
    height: 192px;
    border: 5px solid #000000;
    margin: auto;
    border-radius: 5px;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

#canvas_OUTPUT {
    width: 100%;
    height: 100%;
    background-color: black;
}

#gameControls {
	padding: 0px;
	padding-left: 5px;
	position: relative;
	touch-action: manipulation;
}
#gameControls.hide {
	display:none;
}
#gameControls.top    {
	top: 0px;
}

/* If one gamepad then make it wide and block*/
/* If two gamepads then make it narrow and inline-block */

#gameControls .gamepad_nes  svg { width: 240px; margin-right: 5px; }
#gameControls .gamepad_snes svg { width: 240px; height: 100%; background-color: rgba(255, 255, 255, 0.25); }

#gameControls .gamepad_nes.oneGamepad      { display:block; vertical-align: top; }
#gameControls .gamepad_nes.oneGamepad svg  {width:480px;margin:0px;}
#gameControls .gamepad_nes.twoGamepads     { display:inline-block; vertical-align: top; }
#gameControls .gamepad_nes.twoGamepads svg { width:240px; margin:0px; }

#gameControls .gamepad_snes.oneGamepad     { display:block; vertical-align: top; }
#gameControls .gamepad_snes.oneGamepad svg { width:480px; margin:0px; }
#gameControls .gamepad_snes.twoGamepads    { display:inline-block; vertical-align: top; }
#gameControls .gamepad_snes.twoGamepads svg{ width:240px; margin:0px; }


div#titleBar_logo_div {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    text-align: left;
}

div#titleBar_logo_div {}

.titleBar_logo_div_title {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.panels {
    display: none;
}

.panels.show {
    display: block;
}

.debug_navButtons {
	text-decoration:underline;
}

.debug_navButtons.active {
    background-color: orange;
    font-weight: bold;
}

#titleBar .titleBar_table {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: absolute;
    right: 10px;
}

#titleBar .titleBar_table button {
    width: 80px;
}

#gameSelector {
    font-size: 14px;
    width: 100%;
}

#titleBar_logo_div table {
    width: 100%;
}

div#siteContainerDiv {
    width: 700px;
    min-width: 700px;
    margin: auto;
    text-align: left;
    border: 5px solid skyblue;
    background-color: #6ba9c1;
}

#indicator {
    display: none;
    background-color: rgba(255, 69, 0, 0.75);
    border: 4px dotted black;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 106;
    width: 90%;
    font-size: 36px;
}

#indicator.show {
	display: block;
}

.oneLineVH_center {
	background-color: rgba(255, 69, 0, 0.75);
	border: 4px dotted black;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 106;
	width: 90%;
	font-size: 36px;
}

#btn_reloadGame.hide{
	pointer-events: none;
	opacity: 0.50;
	background-color: rgba(0, 0, 0, 0.2);
}

#masterVolumeSlider_td1.hide{ visibility: hidden;}
#masterVolumeSlider_td2.hide{ visibility: hidden;}

div#panel_game {
}

div#sideDiv {
	vertical-align: top;
	display: inline-block;
	position: relative;
	border: 5px solid skyblue;
	background-color: rgb(107, 169, 193);
	max-width: 700px;
}
div#sideDiv.hide {
	display: none;
}

/* ************************* */
/* Affects the framework DOM */
/* ************************* */

#siteContainerDiv.inline_block{
	display:inline-block;
	vertical-align: top;
}