*{ box-sizing: border-box; }

html {
    /* background-color: #051c27; */
    background-color: #005c80;
    /* background-color: #051c27; */
    /* background-color:
    black; */
    height: 100%;
    width: 100%;
    padding: 5px;
}
body {
    background-color:aliceblue;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding:5px
}

header {
    height: 25px;
    border-bottom: 1px solid black;
    margin-bottom: 2px;
}

main {
    flex: auto;
    background-color: #ccc;
    overflow: auto;
}

footer {
    height: 60px;
    padding: 5px;
    border-top: 1px solid black;
    margin-top: 2px;
}

#gameSelectDiv{
    display:inline-block;
    vertical-align: top;
}
#authorDiv1,
#authorDiv2{
    font-size: 12px;
    line-height: 20px;
    display:
    inline-block;
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
}
#authorDiv2.hide{
    display:none;
}

span#author_title,
span#author2_title {font-weight: bold;font-family: monospace;}
