#lobby_gameContainer{
    border:1px solid black; 
}
#lobby_appPlaceholder {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 275px;
    height: 350px;
    display: none;
}

.lobby_nav{
    min-height: 0.5em;
    padding: 0.25em;
    border-bottom: 1px solid black;
}
.lobby_nav_tab{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-radius: 5px;
    background-color: blanchedalmond;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select  : none; /* Safari */
     -khtml-user-select  : none; /* Konqueror HTML */
       -moz-user-select  : none; /* Old versions of Firefox */
        -ms-user-select  : none; /* Internet Explorer/Edge */
            user-select  : none; /* Non-prefixed version */

}
.lobby_nav_tab:hover{
    background-color: greenyellow;
}
.lobby_nav_tab.active{
    background-color: yellow;
}
.lobby_views{}
.lobby_view{
    display: none;
    padding: 0.25em;
    background-color: #979da6;
    min-height: 450px;
}
.lobby_view.active{
    display: block;
}


/* LOGIN */
.lobby_login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 20px auto;
}

.lobby_login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.lobby_login form {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    padding-top: 20px;
    /* align-items: baseline; */
    /* flex-direction: row; */
    height: 250px;
}

.lobby_login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.lobby_login form input[type="password"], 
.lobby_login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.lobby_login form #lobby_login,
.lobby_login form #lobby_logout {
    width: 90%;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    color: #ffffff;
    transition: background-color 0.2s;
    text-align:
    center;
}
.lobby_login form #lobby_logout {
    margin-top: 10px;
}

.lobby_login form #lobby_login:hover,
.lobby_login form #lobby_logout:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

.lobby_login .textCenter {
	text-align: center;
}

#lobby_showLogin{
    /* display: flex; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 250px; */
}
#lobby_showLogin.hide{ display:none; }
#lobby_showLogout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    /* height: 250px; */
}
#lobby_showLogout.hide{ display:none; }


/* DEBUG */

.lobby_table1{
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top;
    min-width:200px;
}
.lobby_table1 th{background-color: dimgray; text-decoration:underline; border:1px solid black;}
.lobby_table1 td{ border:1px solid black;}
.lobby_table1 td:nth-child(1){ min-width:100px; background-color: dimgray; font-weight:bold; }
.lobby_table1 td:nth-child(2){ min-width:100px; background-color: darkgray; }
.lobby_table1 .lobby_spacer td{ background-color:black;}
.lobby_table1 input[type='text']{ width: 100%; }
.lobby_table1 button{ width: 100%; }

.lobby_table2{
    border-collapse: collapse;
/*     display: inline-block; */
    vertical-align: top;
/*     min-width:200px; */
    width:100%;
}
.lobby_table2 th{background-color: dimgray; text-decoration:underline; border:1px solid black;}
.lobby_table2 td{ border:1px solid black;}
.lobby_table2 tr:nth-child(odd){ background-color: dimgray; font-weight:bold; }
.lobby_table2 tr:nth-child(odd) td{ text-align:center; text-decoration: underline; }
.lobby_table2 tr:nth-child(even){ background-color: darkgray; }
.lobby_table2 .lobby_spacer td{ background-color:black;}
.lobby_table2 #lobby_debugOutput2{
    width: 100%;
    height: 330px;
    /* border: none; */
    /* background-color: transparent; */
    background-color: lightcyan;
    resize: none;
    outline: none;
    font-size: 12px;
    display: block;
}
#lobby_chat_send{
    width: 100%;
    height: 6em;
    background-color: mintcream;
}
