/* @import "lobby/lobby_login.css"; */
/* @import "lobby/lobby_room.css"; */
/* @import "lobby/lobby_debug.css"; */
/* @import "lobby/lobby_dm.css"; */
/* @import "lobby/lobby_profile.css"; */

/* LOBBY SHARED */
/* LOBBY SHARED */
/* LOBBY SHARED */

#lobby_gameContainer {
    border: 1px solid black;
}

#lobby_appPlaceholder {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 275px;
    height: 350px;
    display: none;
}

.lobby_nav {
    min-height: 0.5em;
    padding: 0.25em;
    border-bottom: 1px solid black;
    width: 650px;
    /* background-color: blue; */
}

.lobby_nav_tab {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-radius: 5px;
    background-color: blanchedalmond;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select : none;
    /* Safari */
    -khtml-user-select : none;
    /* Konqueror HTML */
    -moz-user-select : none;
    /* Old versions of Firefox */
    -ms-user-select : none;
    /* Internet Explorer/Edge */
    user-select : none;
    /* Non-prefixed version */
}

.lobby_nav_tab:hover {
    background-color: greenyellow;
}

.lobby_nav_tab.active {
    background-color: yellow;
}

.lobby_views {
}

.lobby_view {
    display: none;
    padding: 0.25em;
    background-color: #979da6;
    min-height: 400px;
}

.lobby_view.active {
    display: block;
}


/* LOBBY TAB */
/* LOBBY TAB */
/* LOBBY TAB */


#lobby_globalTable {
    width: 100%;
}

#lobby_globalTable th {
    text-decoration: underline;
    text-align: left;
}

