#lobby_chat_table {
    border-collapse: collapse;
    /*     display: inline-block; */
    vertical-align: top;
    /*     min-width:200px; */
    width: 100%;
}

#lobby_chat_table > table th {
    background-color: dimgray;
    text-decoration: underline;
    border: 1px solid black;
}

#lobby_chat_table > table td {
    border: 1px solid black;
}

#lobby_chat_table > table tr:nth-child(odd) {
    background-color: dimgray;
    font-weight: bold;
}

#lobby_chat_table > table tr:nth-child(odd) td {
    text-align: center;
    text-decoration: underline;
}

#lobby_chat_table > table tr:nth-child(even) {
    background-color: darkgray;
}

#lobby_chat_table > table .lobby_spacer td {
    background-color: black;
}

#lobby_chat_messages {
    width: 500px;
    height: 330px;
    background-color: lightcyan;
    vertical-align: top;
    float: left;
}

table#lobby_chat_messages_table {
    width: 100%;
    border-collapse: collapse;
}

#lobby_chat_messages_table tr.thisUser {
    background-color: greenyellow;
}

#lobby_chat_messages_table .tdUsername {
    vertical-align: top;
    background-color: aquamarine;
    width: 100px;
}

#lobby_chat_messages_table .tdMessage {
    vertical-align: top;
    background-color: antiquewhite;
}

#lobby_chat_table #lobby_chat_members {
    /* width: 100%; */
    width: 100px;
    height: 330px;
    /* border: none; */
    /* background-color: transparent; */
    background-color: cyan;
    resize: none;
    outline: none;
    font-size: 12px;
    /* display: block; */
    /* display: inline-block; */
    vertical-align: top;
    float: right;
}

#lobby_chat_send {
    width: 100%;
    height: 6em;
    background-color: mintcream;
    clear: both;
}

.lobby_members_item {
    font-weight: bold;
    padding: 2px;
    display: block;
    cursor: alias;
}

.lobby_members_item:hover {
    background-color: greenyellow;
}