/* LOGIN TAB */
/* LOGIN TAB */
/* LOGIN TAB */

#lobby_login_cont {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 20px auto;
}
#lobby_login_cont #lobby_loginForm {
    height: 100%;
}
#lobby_login_cont #lobby_loginForm h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

/* LOGIN FORM VIEW: LOGIN */
/* LOGIN FORM VIEW: LOGIN */
/* LOGIN FORM VIEW: LOGIN */
#lobby_login_cont #lobby_showLogin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    padding-top: 0px;
}
#lobby_login_cont #lobby_showLogin.hide {
    display: none;
}
#lobby_login_cont #lobby_showLogin label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
#lobby_login_cont #lobby_showLogin input[type="password"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
#lobby_login_cont #lobby_showLogin input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
#lobby_login_cont #lobby_showLogin #lobby_login {
    width: 90%;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    color: #ffffff;
    transition: background-color 0.2s;
    text-align: center;
}
#lobby_login_cont #lobby_showLogin #lobby_login:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

/* LOGIN FORM VIEW: LOGOUT */
/* LOGIN FORM VIEW: LOGOUT */
/* LOGIN FORM VIEW: LOGOUT */
#lobby_login_cont #lobby_showLogout {
    display: flex;
    flex-wrap: nowrap;
    height: 250px;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: column;
}
#lobby_login_cont #lobby_showLogout.hide {
    display: none;
}
#lobby_login_cont #lobby_showLogout #lobby_logout {
    margin-top: 10px;
    width: 90%;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    color: #ffffff;
    transition: background-color 0.2s;
    text-align: center;
}
#lobby_login_cont #lobby_showLogout #lobby_logout:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

/* LOGIN FORM VIEW: LOGIN_CHECK */
/* LOGIN FORM VIEW: LOGIN_CHECK */
/* LOGIN FORM VIEW: LOGIN_CHECK */
#lobby_login_cont #lobby_loginForm #lobby_showChecking {
    display: flex;
    flex-wrap: nowrap;
    height: 250px;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: column;
}
#lobby_login_cont #lobby_loginForm #lobby_showChecking.hide {
    display: none;
}