{
    "toggles": {
        "show_APP_consolelog": true,
        "show_sysDataAtStartup": true,
        "isActive_nodeWsServer": true
    },
    "node": {
        "http": {
            "host": "0.0.0.0",
            "port": 11111
        }
    },
    "db": {
        "examples": {
            "file": {
                "type": "file",
                "file": "backend/db/JSGAME.db"
            },
            "memory": {
                "type": "memory",
                "file": ""
            }
        },
        "type": "file",
        "file": "backend/db/JSGAME.db"
    }
}